name: API Center Pipeline

on:
  push:
    tags: ['v.1.0']       # Trigger Deploy on tags like v1.0
  pull_request:
    branches: ['main'] # Trigger Test on Pull Requests
  workflow_dispatch:        # <--- THIS ADDS THE BUTTON
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  # JOB 1: RUN JEST TESTS
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - name: Run Jest
        run: npm test

  # JOB 2: BUILD & DEPLOY (Only on Tags)
  deploy:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      
      # Login to GitHub Container Registry
      - uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build & Push Docker Image
      - uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}

      # Trigger Render Deployment
      - name: Deploy to Render
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}&imgURL=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}"